* { box-sizing: border-box; }

body{
	overflow: hidden;
	background-color: rgb(45, 22, 4);
	margin:0;
	padding:0;
	color:white; 
	font-size:44px;
	width: 100vw;
	height: 100vh;
	user-select: none;
	} 
#container {  position: relative; overflow: hidden; }

#map,canvas,#mapid,#math,#caption,#help,.fullscreen		  { position: absolute;  }

#map          {  z-index:  0;    top:  0px; left:   0px; width: 100vw; height: 100vh; }
canvas        {  z-index:  1;    top:  0px; left:   0px; width: 100vw; height: 100vh; }
#pix          {  z-index:  5;    top:  0px; left:   0px; width: 100vw; height: 100vh; transition: transform 2s; perspective: 800; transform-style: preserve-3d; }
#math         {  z-index:  5;    top:  0px; left:   0px; width: 100vw; height: 100vh; transition: transform 2s; perspective: 800; transform-style: preserve-3d; }
/*#math         {  z-index:  6;    top:120px; left: 560px;  }*/


.pic.fullscreen   {  z-index:  8;    top:  0px; left:   0px; width: 100vw; height: 100vh; transition: opacity 2s;  }
#caption      {  z-index:  7;    top: 920px; left: 440px; width:1400px; padding:12px 20px; 
				font-size:27px;  font-family:'Share Tech Mono', sans-serif; 
				color:rgb(19, 255, 145);
				text-shadow:   4px 4px 5px black, -1px -2px 3px rgb(153, 23, 0),  1px 1px 5px black; }
#help         {  z-index:  8;    top:  40px; left:  40px;                              }
button { background-color: rgb(170, 224, 19); margin: 20px;   }

.map          {  position:absolute;  background-size:cover;  top:  0px; left:   0px; width: 100vw; height: 100vh; }


.listeners { font-size:26px;}
.listeners sub{ color:grey;}
.listeners system{ color:cyan;}
#fired {colr:"red"}
.keepAlive {color:grey; }
.keepAlive  sup {color:rgb(77, 74, 74); }

li {
    font-family: 'Share Tech Mono';
    font-size: 30px;
    white-space: pre;
    text-shadow: 1px 1px 5px yellow;
    }
ul{
    position:absolute;
    top:  4vh;
    left: 12vw;
}


.pic
{
	position:absolute;
    width:  960px;
    height: 540px;
	left:0px;
	top: 0px;
	border: thick solid rgba(0, 146, 37, 0.981);
	box-shadow: 12px 12px 40px 7px black;
	background-size: cover;
	}
#claro        	{ width:1000px; height: 666px;	left: 500px; top: 180px;	}
#claro.medium 	{ width: 500px; height: 333px;	left: 100px; top:  50px;	}
#claro.small	{ width: 420px; height: 240px;	left:1425px; top:  90px;	}
#romeo 			{ width: 360px; height: 405px;	left:1400px; top: 111px;	}
#romeo.medium 	{ width: 240px; height: 270px;	left:1640px; top: 770px;	}
#romeo.small  	{ width: 240px; height: 270px;	left:  22px; top: 788px;	}


#crew { border-top: 480px;  border-right: 270px;  border-bottom: 480px;  border-left: 270px; border-color: red;    }

#equation {position:absolute;	left: 790px; top:182px; display: none;
			background-color: rgba(4, 49, 13, 0.871); text-align: center;
			box-shadow: 12px 12px 40px 7px black;
		/*	border: thin dotted rgba(233, 161, 5, 0.789);  */
			padding:12px 20px;}

#spinnerwindow {
	perspective-origin: center;  
	perspective: 1700px;
	position:absolute;
	left: 535px;
	top:  550px;

	transform-style: preserve-3d;
    width:  345px;
    height: 160px;
 /*	overflow:hidden;
    border: 2px dotted red;*/ 
}


.hint { color:orange; }

#spinner {
	position:absolute;
    width: 100%;
    height: 100%;
	transform-style: preserve-3d;
	}
button.spinfacet  {
	width: 300px; height:150px;
	border-radius: 30px; 
	transform-style: preserve-3d; 
	position: absolute;
	transition: opacity .4s;
	user-select: none;
	border-width: 3px;
	}

button.spinfacet.right { 
	background-color: rgba(76, 151, 21, 0.398); 
	border: 5px solid rgb(42, 148, 7);}
button.spinfacet.wrong { 
	background-color: rgba(73, 7, 7, 0.638);
	border: 5px solid red; }
button.spinfacet.dull   {
	opacity:0.55; 
/*	color:  rgb(66, 120, 202); */
	border: 5px solid rgb(24, 189, 87);  
	background-color: rgba(4, 49, 13, 0.871); 
/*	background-color: rgba(21, 73, 21, 0.686);*/}
button.spinfacet.undull { 
	opacity:0.80;
	border:7px solid rgb(143, 196, 163); 
	background-color: rgba(4, 49, 13, 0.871);
	/*background-color: rgba(18, 73, 29, 0.734);*/  }
button.spinfacet.back { 
	opacity:0.30;
	border-width:3px }
 /*button.spinfacet:hover:not(.right) {     
	border: 5px solid gold;}*/

.start{    color: rgb(211, 255, 255);  stroke: #f5d8d8;  font-size:1px;    }
.power{    color: rgb(26, 211, 9);     stroke: #15d11c;  font-size:200px;  }
.pulse{    color: rgb(255, 174,   0);  stroke: #222;     font-size:55px;   }
.wave {    color: rgb(217, 255,   0);  stroke: #255;     font-size:52px;   }
.decay{    color: rgb(6, 225, 166);  stroke: #213;     font-size:100px;  }
.prop {    color: rgb(  0, 132, 255);  stroke: #333333;  font-size:55px;    font-weight:800;  } 
.xp0,.xp1,.xp2,.xp3,.xp4,.xp5 {    color: rgb(  0, 132, 255);  stroke: #333333;  font-size:55px;    font-weight:800;  } 

.xp0{    color: rgb(23, 94, 50);} 
.xp1{    color: rgb(48, 126, 78);} 
.xp2{    color: rgb(70, 119, 89);} 
.xp3{    color: rgb(96, 151, 117);} 
.xp4{    color: rgb(152, 226, 180);} 
.xp5{    color: rgb(218, 218, 218);} 

.dull  mjx-container { filter:blur(4px) }
/*
.power mjx-container { top:-210px; }
.pulse mjx-container { top:-55px; }
.wave  mjx-container { top:-55px; }
.decay mjx-container { top:-95px; }
.prop  mjx-container { top:-58px;  }*/
.power mjx-container { top:-180px;  font-size:150px; }
.pulse mjx-container { top:-28px;  font-size:40px; }
.wave  mjx-container { top:-28px;  font-size:40px; }
.decay mjx-container { top:-26px;  font-size:60px; }
.prop  mjx-container { top:-28px;  font-size:40px; }
.xp0  mjx-container,
.xp1  mjx-container,
.xp2  mjx-container,
.xp3  mjx-container,
.xp4  mjx-container,
.xp5  mjx-container  { color: rgb(96, 237, 15);  stroke: #333333; top:-30px; font-size:55px;    font-weight:800;  } 

.map0 {    fill: rgb(204,  44,  44);        }
.map1 {    fill: rgb( 32,  13,  75);       stroke:white;   }
.map2 {    fill: rgb( 75, 3, 3);         stroke:rgb(228, 0, 0);  }
.map3 {    fill: rgb(  0, 255,  13);    stroke:white;   }
.map4 {    fill: rgb(  0, 132, 255);    stroke:white;  }

 